.border-top-right {
    border-top-right-radius: 0.25rem !important;
}

.border-bottom-right {
    border-bottom-right-radius: 0.25rem !important;
}

//make search box
.rectangle-2 {
    background-color: var(--foggy-grey);
  }
