.navbar {
	margin-bottom: 0;
    border-radius: 0;
    background-color: #f7f7f7;
}

#navbar-main li {
    border-bottom: 1px solid #000000;
}

#navbar-main li a {
    padding: 0.5rem 1rem;
}

.navbar-logo-text {
    font-size: 1.5rem;
}

.nav-link{
    color: rgba(0,0,0,1) !important;
    &:hover{
        color: #1661ab !important;
    }
}