:root {
    --cdli-blue: #1661ab;
    --grey: #eeeeee;
    --cloudy-grey: #f9f9f9;
    --foggy-grey: #f7f7f7;
    --gunmetal: #495057;
    --black: #000000;
}

// Importing Bootstrap
@import "bootstrap/bootstrap";

//Importing Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

// Import page styles
@import 'pages/_advancedsearch', 'pages/_home', 'pages/_searchresults', 'pages/_searchsettings', 'pages/_single', 'pages/_users', 'pages/_stats', 'pages/_viz';

// Import component styles
@import 'components/_cards', 'components/_footer', 'components/_nav';

@mixin small-screens {
    @media (max-width: 576px) {
        @content;
    }
}

:root {
    --cdli-blue: #1661ab;
    --grey: #eeeeee;
    --cloudy-grey: #f9f9f9;
    --foggy-grey: #f7f7f7;
    --gunmetal: #495057;
    --black: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height:auto;}

	.row{
		max-width:none;}
}

.contentWrapper {
    width: 80%;

    @include small-screens() {
        width: 95%;
        overflow: auto;
    }
}

/* image side bar */
.imagesSidebar{
  background: #333333;
}

.indImageWrapper{
  margin-top: 90px;
  position: relative;
}

.indImage {
  width: 50%;
}

.indViewer {
  background: rgba(146,146,146,0.87);
  position: absolute;
  bottom: 0;
  left:  25%;
  padding:0 27px 0 27px;
}

.indViewer h4 {
  font-size: 14px;
}

.imgMode {
  color: #f4f4f4;
}

/* detail information */

.detailsWrapper{
  position: relative;
  padding-left: 70px;
}

.indTitle {
  font-weight: 800;
  font-size: 30px;
}

.indSubTitle {
  margin-top: 20px;
  font-size: 20px;
}

.summary{
  margin-top: 30px;
  width:100%;
  border:1px solid black;
}

.summaryTitle{
  width:100px;
  font-size: 18px;
  margin-top:-10px;
  margin-left:35px;
  padding-left: 10px;
  background:white;
}

.summaryBold {
  font-size: 19px;
  font-weight: 800;
}

.summaryLight {
  font-size: 18px;
  font-weight: 200;
}

.cardTitle {
  color: black;
  font-size: 18px;
}

// Add to the UL of a pagination list to transform Bootstrap pagination into CDLI style
.pagination-dark {
    & > .page-item > a {
        color: black;
    }
    
    & > .active {
        & > a {
            background-color: #212529 !important;
        }
    }

    & > .page-item:nth-last-child(1) > a,
    & > .page-item:nth-child(1) > a,
    & > .page-item:nth-child(2) > a {
        border: 1px solid transparent;
        border-radius: 0;
    }

    & > .page-item:nth-last-child(2) > a {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-right: 1px solid transparent;
    }
}

//Add to a TABLE tag to transform it into a Bootstrap CDLI Table
.table-bootstrap {
    @extend .table;
    @extend .border-bottom;

    & > thead {
        @extend .table-secondary;
        @extend .small-caps;
    }

    & > tbody {
        & > tr {
            & > td {
                @extend .align-middle;
            }
            & > td:nth-child(1) {
                @extend .border-right;
            }
        }

        & > tr > th {
            @extend .border-right;
            @extend .table-secondary;
        }
    }

}


//For all loading spinners
.rotation {
    animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}
  
// Small caps primarily for table heads
.small-caps {
    font-variant: small-caps;
}

//Used in forms
.boxed {
    background-color: var(--foggy-grey);
    padding: 40px;
    margin: 1rem;
    text-align: left;
    overflow: auto;
}

.capital-heading {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

//Used in Related Actions box
.btn-action {
    @extend .btn;
    @extend .btn-light;
    @extend .text-primary;
}

//used in select label
.select-background {
  width: 200px;
  height: 38px;
  border: solid 1px #ced4da;
  background-color: #ffffff;
  text-align-last: center;
  font-size: 1rem;
  padding: .375rem .75rem;
  line-height: 1.5rem;
  margin: 20px;
}

//used in input label
.input-background {
  width: 660px;
  height: 38px;
  border: solid 1px #ced4da;
  background-color: #ffffff;
  margin: 20px;
}